body {
    background: #808080;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

img {
    padding: 20px;
}

#title {
    text-align: center;
}

#rating, #consent {
    display: none;
    font-size: 22px;
}

#demographics, #intro, #intermission, #attention_check {
    display: none;
    position: relative;
    text-align: center;
    top: 25px;
    font-size: 28px;
}

.kbutdis {
    font-size: 25px;
    padding: 16px;
    border: 2px solid #2e2e2e;
}

.kbutt {
    font-size: 25px;
    padding: 16px;
    border: 2px solid #2e2e2e;
    transition-duration: 0.4s;
}

.kbutt:hover {
    background-color: #2e2e2e;
    color: white;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

input[type=number] {
    width: 70px;
    height: 30px;
    font-size: 25px;
}

#country {
    height: 30px;
    font-size: 25px;
}

#Thank, #Bye, #load_screen {
    display: none;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

#Bye {
    font-size: 22px;
}

#div_main {
    font-family: "Arial";
    color: #FFFFFF;
    display: none;
}

#fixate {
    font-size: 50px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#stimulus {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    width: 450px;
    top: 68%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#scale_container {
    /* position: relative;*/
    margin-left: -50%;
    width: 200%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8vw;
    background: #555555;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw;
    height: 3.8vw;
    background: #2e2e2e;
    cursor: pointer;
}

.slider_hide_thumb::-webkit-slider-thumb {
    width: 0;
    visibility: hidden;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw;
    height: 3.8vw;
    background: #2e2e2e;
    cursor: pointer;
}

.slider_hide_thumb::-moz-range-thumb {
    width: 0;
    visibility: hidden;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 2px;
    background: #404040;
    height: 1.2vw;
    line-height: 5.8vw;
    margin: 0 0 5.0vw 0;
}
